<h1> User List </h1>
<div class="signupform">
<ul>
	<% @users.each do |s| %>

	<li class="userslist"><%= s.first_name %></li> -- <%= link_to "Show more details!", user_path(s) %>

<% end %>
</ul>

<%= link_to "Add A New User", 'users/new' %>
</div>
