<div class="container1">
	<center><h1>Upcoming Events</h1></center>
	<div class="events">
		<div class="row">
			<div class="col-lg-18 col-lg-4 col-lg-3">
				<div class="productbox">
					<% @events.each do |s| %>
					<div class="stitle">
						<h3><%= s.name %></h3>
						<div class="swhen">
							<h3><%= s.when %></h3>

						</div>
					</div>
					<div class="imgthumb img-responsive">
						<img src="http://lorempixel.com/250/250/business/?ab=1df">
					</div>
					<div class="caption">
						<h5><%= s.short_description %></h5>
						<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-success btn-lg" role="button">Join</a> <a href="#" class="btn btn-warning btn-lg" role="button">More Info</a>						
					</div>
				</div>
				<% end %>
			</div>

		</div><!--/row-->
	</div>

</div><!--/container -->

