<div class="container">
    <div class="signup">
        <div class="signuptext">
            <h1>EVER WONDERED WHO A <u>PC USER</u> IS?</h1>
        </div>


           <a href="users/new"> <button id="pitch-text">
            <h2>SIGN UP</h2>
             </button></a>
    
    </div>
</div>


