<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PUTAFACEON</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <div class="rightsidenav">
        <% if current_user %>
         <div class="logbutton">
          <%= link_to 'EVENTS', events_path  %>   
        </div>
         
          <% if current_user.is_admin %>
         <div class="logbutton">
          <%= link_to 'ADMIN PANEL', admin_path  %>   
        </div>
        <% end %>
          <div class="logbutton">
              <%= link_to 'LOG OUT', session_path, method: :delete %>
          </div>
        <% else %>
            <div class="logbutton">
              <%= link_to 'LOG IN', new_session_path  %>   
            </div>
          </div>
       
        
<% end %>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>