<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">PUTAFACEON</a>
  </div>

            <% if current_user %>
  Welcome, <%= current_user.first_name %>!
  <%= link_to "Log out", session_path, method: :delete %>
  <% else %>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">


      <li class="loginlink"><%= link_to "Login", new_session_path %></li>
  
 
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<% end %>

	